@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* button */
  --color-primary: #caeb66;
  --color-secondary: #DADADA;

  /* bg */
  --color-bg: #EAECED; 

  /* text color */
  --color-accent: #606060; 
  --color-accent-content: #1F1F1F; 
}

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.active-link {
    background-color: #caeb66;
    color: 1F1F1F;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
